<div class="container">
  <h1>Welcome to Blocmetrics</h1>
  <div class="row">
    <div class="col-md-8">
      <h4>Blocmetrics is an analytics service and reporting tool that you can use with web apps to track user activity.</h4>
    </div>
  </div>
</div>
