<div class="container"
  <div class="media">
    <div class="media-body">
      <h1 class="media-heading">
          <%= @registered_app.name %>
          <br>
          <small>
            <%= @registered_app.url %><br><br>
          </small>
      </h1>
      <h4>
        <% @events.each do |event| %>
          <%= event.name %><br>
        <% end %>
      </h4><br>
      <%= link_to "Delete Application", user_registered_app_path, method: :delete, class: 'btn btn-danger' %>
    </div>
  </div>
</div>
